body{
    margin:0;
    background:#0f1020;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    overflow:hidden;
    font-family:sans-serif;
}

.container{
    text-align:center;
}

.card{
    width:320px;
    height:570px;
    position:relative;
    transform-style:preserve-3d;
    transition:transform .8s;
    cursor:pointer;
    margin:auto;
}

.card.flip{
    transform:rotateY(180deg);
}

.front,
.back{
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility:hidden;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,.4);
}

.front img,
.back img{
    width:100%;
    height:100%;
    object-fit:contain;
}

.back{
    transform:rotateY(180deg);
}

.tap{
    color:white;
    margin-top:30px;
    font-size:18px;
    animation:blink 1.5s infinite;
}

@keyframes blink{
    50%{
        opacity:.4;
    }
}
